.MyCard {
    background-color: white;
    border-radius: 15px;
    max-width: 600px;
}

.MyCard img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.contentContainer {
    padding: 25px;
}